
# Python

**23 Dec**

In [1]:
# for i in range (1,10);
# print (i)

In [2]:
print ("Hello world")

Hello world

In [3]:
# #Operators

# 1. Airthmatic Operators = [+, -, /, %, //, **]
# 2. Assignment Operators 
# 3. Logical Operators
# 4. Comperision Operators
# 5. Identity Operators
# 6. Membership Operator
# 7. Bitwise Operator

In [4]:
# Addition
add = x+y+z
print(add)

NameError: name 'x' is not defined

In [ ]:
x,y,z = 12,45,78
add = x+y+z
print(add)

In [ ]:
# Modules : its show the reminder
x = 19
y = 5
print(x%y)

In [ ]:
# floor division its round up the output with minimum value
x=27
y=4
d = x/y
print(d)

In [ ]:
x//y # its remove the value after the decimal

# Exponets
x = 4
y = 6
z = x**y
print(z)

In [ ]:
4*4*4*4*4*4

# Data Type

1. Numerical = integar (int) float comples
2. Text type = string (str)
3. Sequence - List [], tuple (), range()
4. set = {}
5. Mapping = Dictionary {key + value}
6. Boolen = True , False
7. None = None

In [ ]:
x = "Hello world"
print(x)
print(type(x))   # show data type
print(len(x))   # to identify length of string

In [ ]:
x = """There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.'''
"""
print(x)

# use """ to print multiple string at start & end of the sentances

In [ ]:
x = 400
print(type(x))

In [ ]:
x = 100.0
print(type(x))

In [ ]:
x= 21j
print(type(x))

In [ ]:
# string
x= 'Brillica'
print(x)
print(type(x))
print(len(x))

In [ ]:
# Forcasting

#we cannot check length for integar, for that we need to change variable in string format

x = 10
print (type(x))
print(x)

y=str(x)  # convert to string
print(y)
print(type(y))
print(len(y))

In [ ]:
# str() It's convert in String
# Float It's convert in Float
# int() It's convert in Integer
# Complex () It's convert in complex

In [ ]:
#convert the 789 to float and string and check the length and data type

x = 789
y = float(x)
print(type(y))

x = 789
y = str(x)
print(len(y))

In [ ]:
x = "45"
y = "10"
print(x+y)

In [ ]:
x ="45"
y = "10"
x=int(x)
y=int(y)
print(x+y)

In [ ]:
# ## comeprision operators

# >  Greater than
# <  less than
# == equal 
# !=  Not equal
# >=  Greater than equal
# <=  Less than equal

In [ ]:
x = 10
y = 20

print(x<y)
print(x>y)
print(x==y)

In [ ]:
x= 10
y = 20

if x >= 20:
    print("x is greater than y")
else:
    print("X is less than y")

In [ ]:
x = 200 
if x != 200:
    print("Right")
else :
    print("Wrong")

In [ ]:
#Find out type & Length
x = 450
y = "Brillica"
a=str(x)
print(type(x))
print(type(y))
print(len(y))
print(len(a))

In [ ]:
# Write a python program to check the NUmber is Odd or Even ?

x = int(input("Enter the Number :-"))
if x%2==0:
    print("Even")
else:
    print("Odd")

In [ ]:
#write a python program to check the NUmber is Greater than 50 or Not ?

x= int(input("Enter the Number"))
if x>50:
    print("Greater than 50")
else:
    print("Less than 50")

In [ ]:
# write a python program to check the Number is Divisible of 5 or Not ?

x=int(input("Enter the Number"))
if x%5==0:
    print("Divisible")
else:
    print("Not Divisible")

In [ ]:
# Write a python program to check who is eligible for vote ?

age=int(input("Enter the age"))
if age>=18:
    print("Eleigible for vote")
else:
    print("Not Elegible for vote")

In [ ]:

# if per is greater than 60 					====    First div
# if per is greater than 45 and less than 60  ====    second div
# if per is greater than 33 and Less than 45 =====    third div
# if per is less than 33                      ====    fail

Per = int(input("enter the percentage of student :-"))

if Per >=60:
    print("First Divistion")
elif Per>=45:
    print("Second Division")
elif Per>=33:
    print("Third Division")
elif Per<33:
    print("Fail")

In [ ]:
# And Operator

x = int(input("enter number"))
if x>30 and x<50:
    print("True")
else:
    print("False")

In [ ]:
# Or Operator

x= int(input("enter number"))
if x<=50 or x<=75:
    print("True")
else:
    print("False")

In [ ]:
#30 Dec 2023

In [ ]:
# Write a python program to compare the three number which is the highest number
#take input with help of user input.

x=int(input("enter the first number"))
y=int(input("enter the scond number"))
z=int(input("enter the third number"))
if x>y and x>z:
    print(x,"highest number")
elif y>x and y>z:
    print(y,"highest number")
elif z>x and z>y:
    print(z,"highest number")

In [ ]:
# Write a python program to wether a number is divisible by 2 and 3 both

x=int(input("enter the number"))
if x%2==0 and x%3==0:
    print("Divisible")
else:
    print("not divisible")

In [ ]:
# Write a python program to wether a number is divisible by 2 and 3 both 
# show the number which is divisible

x=int(input("enter the number"))
if x%2==0 or x%3==0:
    print(x," is Divisible")
    if x%2==0:
        print(x,"is divisible with 2")
    else:
        print(x,"is divisible with 3")

In [ ]:
# identity Operator

# is
# is not

x= 10
y = 10
print (x is y)

In [ ]:
x=10
y =15
print (x is y)

In [ ]:
# Membership Operator

# in , not In

x = "Nitin Singh"
if "z"in x:
    print("present")
else:
    print("not present")

In [ ]:
## Bitwise operator
# & and
# | or

x=15
if x==15 & x>10:
    print("Correct")

# Casting

x= 10   # int
y = str(x)
type(y)

In [ ]:
# int()
# str()
# float()

#list()
#tupe()
#dict()
#set()

In [ ]:
x="12"
y="10"
print(type(x))
print(type(y))

In [ ]:
a=int(x)
b=int(y)
z = a+b
print(type(z))
print (z)

# Swapping

In [ ]:
x,y = 10,12
print("x :", x)
print("y :", y)

In [ ]:
x,y = y,x     # Swapping
print("x :", x)
print("y :", y)

# Loop

In [ ]:
# 1. while Loop
# 2. For Loop

In [ ]:
x= 10
y=0
while x>=y:
    print("Number",y)
    y = y+1

In [ ]:
# print 10 to 1  with the help of while loop

x=10
y = 1
while x>=y:
    print(x)
    x=x-1

In [ ]:
x=10
y = 1
while x>=y:
    print(y)
    y=y+1

In [ ]:
# print all evern number from 1 to 20

x=20
y=1
while x>=y:
    if y%2==0:
        print("Even Number :", y)
    y+=1

In [ ]:
# Print odd number from 1 to 25 ?

x=25
y=1
while x>=y:
    if y%2!=0:
        print("odd number :", y)
    y+=1

In [ ]:
# write 5 table
x=50
y=5
while x>=y:
    print(y)
    y+=5

In [ ]:
# Enter any decenemic table

a=int(input("Enter the table name"))
x=10
y=1
while x>=y:
    print(y*a)
    y= y+1

In [ ]:
# # print like below
# 5 x 1 = 5
# 5 x 2 = 10

a=int(input("Enter the table name"))
x=10
y=1
while x>=y:
    print(a,"X",y,"=", a*y)
    y= y+1

In [ ]:
# # Break - it is used to stop the loop
# Continue - skip the text or number

In [ ]:
# Print the number 1 to 10 but break the look at 5

x=10
y=1
while x>=y:
    if y==5:
        break
    print(y)
    y = y + 1

In [ ]:
# # Print the number 1 to 10 but continue after 5

x=10
y=0
while x>=y:
    y+=1
    if y==5 or y==7:
        continue
    print(y)

In [ ]:
# to print Horizontal counting

x=10
y=1
while x>=y:
    print(y, end=",")        # end is use for print value in Horizontal 
    y

In [ ]:
# Write a programe to extract the all even number from 1 to 30

x=30
y=1
while x>=y:
    if y%2==0:
        print(y)
    y+=1

In [ ]:
# Write a programe to count the all even number from 1 to 30

c=0
x=30
y=1
while x>=y:
    if y%2==0:
        c=c+1
    y+=1
print("total even number is :", c)

In [ ]:
# Write the programe to add first 6 values with the help of while loop.
# 1,2,3,4,5,6 = 21

a=0
x=6
y=1
while x>=y:
    a=a+y
    y+=1
print("Addition :-", a)

In [ ]:
# write a program to skip the 13,15 and 19 fromm 10 to 40 and print the number Horizontally

x=40
y=9
while x>y:
    y+=1
    if y==13 or y==15 or y==19:
        continue
    else:
        print(y,end="  ")

For Loop

# Sequence data type : list, tupple, range()

# range (starting point, Ending Point, step size)

In [ ]:
# write query to print 1 to 10 number
# range (starting point, ending point, step size)

for a in range(1,11):
    print(a)

In [ ]:
# write a program to print the back counting from 10 to 1
# with the help of for loop

for a in range(10,0,-1):
    print(a)

In [ ]:
# print even number with for Loop from 1 to 21

c = 0
for a in range(1,21):
    if a%2==0:
        print(a)
        c+=1
print("total even number :", c)

In [ ]:
# find factorial of any number with the help of user input

x=int(input("enter the number"))

fact = 1
for i in range (1,x+1):
    fact = fact*i
print("Factorial : -", fact)

In [ ]:
# Break & Continue Statement

for i in range (10):
    if i==5 or i==7:
        continue
    else:
        print(i)

In [ ]:
# Break

for i in range(10):
    if i==5:
        break
    print(i)

In [ ]:
##

x="Data Science"

for i in x:
    if i==" ":
        break
    else:
        print(i,end="")

In [ ]:
# count the total number of odd number from 10 to 30?

c = 0
for a in range(10,31):
    if a%2!=0:
        c+=1
print("total even number :", c)

# Nested Loop

In [ ]:
#Nested Loop : Loop inside the another Loop

for i in range(5):
    print("Hello World")
    for j in range(5):
        print(j)

In [ ]:
# Print pattern

for i in range(10):
    for j in range(0,i):
        print("*", end="")
    print()

String

String - It always written in single quatation or double quatation

x= "data" o 'data'

In [ ]:
x = "data science"
x = x.upper()     # upper convert into capital letter
print(x)

In [ ]:
x = "DATA SCIENCE"
x = x.lower()  #Lower convert into Lower letter
print(x)

In [ ]:
x = "data science"
x = x.title()  # Title convert into 1st letter in capital letter and other letter in small letter.
print(x)

In [ ]:
# Capitalize() : - it convert only first caracter to upper case

x= "data science"
x=x.capitalize()
print(x)

# Strip ()

In [ ]:
#Strip - it's remove the extra space starting and ending of the  text.

x = "    Data Science   "
print(x)
x=x.strip()
print(x)

#Count()

In [ ]:
#Count - it count the number of alphabets or number or special caracter

x="data scince"
y=x.count("a")
print(y)

Find

In [ ]:
# it shows the number of Index

x="Science"
y=x.find("i")
print("index of i :", y)

In [ ]:
# -7 -6 -5 -4 -3 -2 -1  Negative Indexing
# S   C  I  E  N  C  E
# 0   1  2  3  4  5  6  Positive Indexing

#Replace

In [ ]:
# Replace - it replace the text at place of old text

x = "Data Science"
y = x.replace(" ","*")
print(y)

In [ ]:
x= "Arunachal Pradesh"
x=x.lower()
y=x.replace("a","*")
print(y)

# Format()

In [ ]:
#Formats specified values in a string

x = "Hi my name is {}"
y = x.format("Nitin Singh")
print(y)

In [ ]:
x= "Hi {} welcome to {}"
y = x.format("Nitin", "Delhi")
print(y)

Split

In [ ]:
#Split() : it convert the string into list

x = "Python is a programing language"
y = x.split()
print(y)

In [ ]:
x = "apple,mango,banana"
print(x)
y = x.split()
print(y)

# Join

In [ ]:
# Join Function : it's join the multiple values from list to string

x=["hi","how","are","you"]
print(x)
print(type(x))

y = " ".join(x)
print(y)
print(type(y))

# Swapcase

In [ ]:
x = "Data Science"
y=x.swapcase()
print(y)

In [ ]:
#isalpha () : its check if value is alphabetic
#isdigit () : its check if string is number
#isspace () : its check if string have any space 
#islower () : check if have any lower letter value 
#isuper () : cehck if have any capital letter value 
#isalnum () : its check the string is mix character of text and strings value

In [ ]:
#isalpha () 
x="delhi"
x.isalpha()

In [ ]:
#isalnum ()
x="delhi110059"
x.isalnum()

In [ ]:
#isdigit () 
x="305001"
x.isdigit()

In [ ]:
#isspace ()
x=" "
x.isspace()

# 07 Jan 2024

In [ ]:
#x = "Himachal Pradesh"

#extract the text given Below
#1. chal
##2. desh
#3. ma
#4. him
#5. reverse the Text
#6. print the all text and step size should be 3
#7. join the first and last text
#8. count "t" how many times repeated
#9. find the index of the space
#10. convert into a list

In [ ]:
# x = "Himachal Pradesh"

# 1. count the total number of r
# 2. count the total number of a
# 3. show the index of space
# 4. replace the value "*" at the place of "d"
# 5. convert the string in upper case

In [ ]:
x ="Himachal Pradesh"
print(len(x))

In [ ]:
#Question 4 :  replace the value "*" at the place of "d"
x="Himachal Pradesh"
y = x.replace("d","*")
print(y)

In [ ]:
#5. convert the string in upper case

# Indexing & Slicing   # 13 Jan 2024
 #its extract the single number of the caracter from the text.

In [ ]:
# Indexing

In [ ]:
#Find c under Data Science
x = "Data Science"
x[6]

In [ ]:
# "Arunachal  P  r  a  d  e  s  h
#  0123456789 10 11 12 13 14 15 16"
# Extract - r, l, e, h, p

#Positive Indexing
x = "Arunachal Pradesh"
print(x[1])
print(x[6])
print(x[8])
print(x[10])
print(x[11])
print(x[14])
print(x[16])

In [ ]:
# "Arunachal     P  r  a  d  e  s  h
#            -8 -7 -6 -5 -4 -3 -2 -1"
# Extract -e, h

#Negative Indexing
x = "Arunachal Pradesh"
print(x[-1])
print(x[-3])

#Slicing

In [ ]:
#Slicing - it's extract the range of caracter from the text
#Slicing  = x[starting index : end index : step size]

In [ ]:
# "Arunachal Pradesh"
# extract starting 3 alphabet

x[0:3]

In [ ]:
# end 3 alphabet
x[-3:]

In [ ]:
#x = "Arunachal Pradesh"


# extract these text from x
# Aruncachal
#Pradesh
#runa
#desh
# Auahl
# last five alphabet from text

In [ ]:
# Aruncachal

x = "Arunachal Pradesh"
x[0:9]

In [ ]:
#Pradesh
x = "Arunachal Pradesh"
x[-7:]

In [ ]:
#runa
x = "Arunachal Pradesh"
x[1:5]

In [ ]:
#desh
x = "Arunachal Pradesh"
x[-4:]

In [ ]:
# Auahl
x = "Arunachal Pradesh"  
x[0:9:2]    # [starting index (0) : end index (9) : step size (-2)]

In [ ]:
# last five alphabet from text
x = "Arunachal Pradesh"
x[-5:]

# Reverse the string

In [ ]:
# Reverse string
x = "Arunachal Pradesh"
x[-1: :-1]

In [ ]:
# ARUnacHAL PrAdeSH
# count all a

# 1st we need to convert all test in lower format

x ="ARUnacHAL PrAdeSH"
x = x.lower()
print(x)
x.count("a")

In [ ]:
# x = "prince1234324@$%%sharma"
# extract the Text from x
# extraxt the Number form x
# count the Total number in x
# extract special caracter

In [ ]:
# x = "prince1234324@$%%sharma"
# extract the Text from x

x = "prince1234324@$%%sharma"
for i in x:
    if i.isalpha():
        print(i,end="")

In [ ]:
# extraxt the Number form x
x = "prince1234324@$%%sharma"
for i in x: 
    if i.isdigit():
        print(i,end="")

In [ ]:
# count the Total number in x
c = 0
x = "prince1234324@$%%sharma"
for i in x:
    if i.isdigit():
        c+=1
print(c,end="")

In [ ]:
# extract special caracter

x = "prince1234324@$%%sharma"
for i in x:
    if i.isdigit():
        continue
    elif i.isalpha():
        continue
    else:
        print(i,end="")

In [ ]:
# "datascienceclient" - print only C & T

x = "datascienceclient"
for i in x:
    if i=="c" or i=="t":
        print(i,end="")

In [ ]:
# x = "Arunachal Pradesh"
# find the positive and negative index of each alphabet
# from x

In [ ]:
# positive index
x = "Arunachal Pradesh"
y = len(x)  # 16
for i in range(y):
    print(x[i],"-: positive index :-",i)

In [ ]:
# negative index
x = "Arunachal Pradesh"
y = len(x)  # 16
for i in range(y):
    print(x[i],"-: negative index :-",i-y)

LIST

Sequence Data Type : List, Tupple, Range()

List :
1. Always written in [] braket.
2. List is mutable or changable
3. List are orderded
4. List are indexed
5. List allow duplicate values
6. In List we can add multiple type of data

In [ ]:
# List can pick any data type
x = [20, 45.50, 20j, True, None, "Data"]
print(x)

In [ ]:
# List can pick cuplicate value
x = [20, 45.50, 20j, True, None, "Data", 20, 20, 20, "Data"]
print(x)

In [ ]:
# Indexing in List

x=[12,45,45.45,"data",21j]
print(x)
print(type(x))
print(len(x))

In [ ]:
x=[12,45,45.45,"data",21j]
print(x[0])   # always use [] braket for indexing , # 0 shows 1st index number which is 12
print(type(x))

In [ ]:
# find data type for all 
x=[12,45,45.45,"data",21j]
for i in x:
    t=(type(i))
    print(t,";",i)

In [ ]:
# Indexing & Slicing in List

#print Science through positive indexing
x= ["data", "Science", "nitin", "jatin", "prince"]

print(x[1])

In [ ]:
# Indexing & Slicing in List

#print Science through Negative indexing
x= ["data", "Science", "nitin", "jatin", "prince"]

print(x[-2])

In [ ]:
#Slicing - print next to next text
x= ["data", "Science", "nitin", "jatin", "prince"]
print(x[0: :2])

In [ ]:
#Slicing - Reverse the list
x= ["data", "Science", "nitin", "jatin", "prince"]
print(x[-1::-1])

FORMULA'S

1. Insert
2. Append
3. Extend

In [ ]:
# Insert - It add value under given index but can't add value at last
x = ["Sunday", "Monday", "Tuesday", "Wednesday"]
x.insert(0,"Friday")
print(x)

In [ ]:
# Append - it add value by default at last place
x = ["Sunday", "Monday", "Tuesday", "Wednesday"]
x.append("Friday")
print(x)

In [ ]:
# Extend - it add Multiple value in the list by default at last place
# it merge 2 list in single list
# 1st Methord
x = ["Sunday", "Monday", "Tuesday", "Wednesday"]
y = ["Data Science Class"]
x.extend(y)
print(x)

In [ ]:
#2nd Method:
x = ["Sunday", "Monday", "Tuesday", "Wednesday"]
y = ["Data Science Class"]
print(x+y)

In [ ]:
#3rd Method:
x = ["Sunday", "Monday", "Tuesday", "Wednesday"]
y = ["Data Science Class"]
for i in y:
    x.append(i)
print(x)

# How to remove value from list.

1. Pop
2. Remove
3. Del
4. Clear

In [ ]:
#Pop : it's remove the value according indexing/ no. of position and by default remove the value of last index

x= ["One", "Two", "Three", "Four"]
x.pop()  # by default delet last value
print(x)

In [ ]:
 #Pop : by provide index
x= ["One", "Two", "Three", "Four"]
x.pop(2)
print(x)

#Remove

In [ ]:
# Remove - it remove text through provided value
x= ["One", "Two", "Three", "Four"]
x.remove("Two")
print(x)

# Clear

In [ ]:
# Clear - it remove complete value from list
x= ["One", "Two", "Three", "Four"]
x.clear()
print(x)

# Del

In [ ]:
# Del (Delete) - it deletes the vlues through indexing/slicing or complete delete

In [ ]:
# del through index
x= ["One", "Two", "Three", "Four"]
del x[0: : 2]
print(x)

In [ ]:
x = [1,2,3,4]
del x[0 :]
print(x)

Useful Formula's
# Count
# copy
# sort
# reverse

In [ ]:
# count

x = [1,2,3,1,1,2,1]
x.count(1)

# Copy

In [ ]:
x =[1,2,3,1,1,4,5,7,10]
y = x.copy()
x.clear()
print(y)

# Sort

In [ ]:
# Sort : 
x = [1,2,7,5,2,3,1,1,10]
x.sort()  # Sort at assending order
print(x)

In [ ]:
x = [1,2,7,5,2,3,1,1,10]
x.sort(reverse=True)  # Sort at Dessending order
print(x)

20th Jan 2024

#x = [12,45,89,78,56.8,"data science",True]

# Remove data science from the list
# 2. Replace the value 500 at the place of 89
# 3. insert new value in this list given below
#y = [741,852,963]

#4. find the sum of all the integar and float value
#5. count the total number of  Integar value in this list
# 6. delete all the value from the list



#x = [12,45,89,78,56.8,"data science",True]
# Remove data science from the list

x = [12,45,89,78,56.8,"data science",True]
x.remove("data science")
print(x)


# 2. Replace the value 500 at the place of 89

x = [12,45,89,78,56.8,"data science",True]
x[2] = 500
print(x)


# 3. insert new value in this list given below
#y = [741,852,963]
x = [12,45,89,78,56.8,"data science",True]
y = [741,852,963]
x.extend(y)
print(x)


#4. find the sum of all the integar and float value
x = [12,45,89,78,56.8,"data science",True]
y = sum(x[0:5])
print(y)

#5. count the total number of  Integar value in this list

c = 0
x = [12,45,89,78,56.8,"data science",True]
for i in x:
    if type (i)==int:
        c = c+1
print("Total number of integar value : -", c)


#x = [[12,56,78,[96,85,[14,89,100],63,200],300],500]

# indexing
# Extract the Number
#14
#300
#56
#89
#200
#100
#500
#85

x = [[12,56,78,[96,85,[14,89,100],63,200],300],500]
print (x[0][3][2][0])
print(x[0][4])
print(x[0][1])
print(x[0][3][2][1])
print(x[0][3][4])
print(x[0][3][2][2])
print(x[1])
print(x[0][3][1])

#Nested List

In [ ]:
#Nested List - List is used inside the another list.

In [ ]:
#x = [[12,56,78,[96,85,[14,89,100],63,200],300],500]
# slicing
# extract these text from the list

#12,78
#14,100
#63,200
#96,85,[14,89,100],63
#56,78,[96,85,[14,89,100],63

x = [[12,56,78,[96,85,[14,89,100],63,200],300],500]

In [ ]:

# 12, 78
x[0][0:3:2]

In [ ]:
#14,100
x[0][3][2][0::2]

In [ ]:
#63,200
x[0][3][-2]

In [ ]:
#56,78,[96,85,[14,89,100],63

a= x[0][1:3]
b = x[0][3][0:4]
a+b

In [ ]:
# x=["jan","feb","march","april","june","july","aug","sep","oct","nov","dec"]
#conver the all text in capital letter in this list.
#print all the even number of the month
# add in new list all odd number of the month in given list.

In [ ]:
#conver the all text in capital letter in this list.
x=["jan","feb","march","april","june","july","aug","sep","oct","nov","dec"]
for i in x:
    i = i.upper()
    print(i,end=",")

In [ ]:
#print all the even number of the month
x=["jan","feb","march","april","june","july","aug","sep","oct","nov","dec"]
x[1: :2]

In [ ]:
# add in new list all odd number of the month in given list.
x=["jan","feb","march","april","june","july","aug","sep","oct","nov","dec"]
x[0: :2]

In [ ]:
#x = [12,45,7,9,56,23,25,45,78,89,56,23,25,24,26]

# print the Numebr that is divisible by 9
# find the Number who is repeated more than one time
# show positive and negative index of the Number
# show the index Number of the even number elements
# show the Negative index of odd Elements

In [ ]:
# print the NUmebr that is divisible by 9

x = [12,45,7,9,56,23,25,45,78,89,56,23,25,24,26]
for i in x:
    if i%9==0:
        print(i,end=" ")

In [ ]:
# find the Number who is repeated more than one time

for i in x:
    if x.count(i)>1:
        print(i,end=" ")

In [ ]:
# show positive and negative index of the Number
x = [12,45,7,9,56,23,25,45,78,89,56,23,25,24,26]
y=len(x)
for i in range(y):
    print(x[i], "positive index is : ", i)

In [ ]:
# show the index Number of the even number elements

x = [12,45,7,9,56,23,25,45,78,89,56,23,25,24,26]
y=len(x)
for i in range(y):
    if x[i]%2==0:
        print(x[i],"index :", i)

In [ ]:
# show the Negative index of odd Elements
x = [12,45,7,9,56,23,25,45,78,89,56,23,25,24,26]
y=len(x)
for i in range(y):
    if x[i]%2!=0:
        print(x[i],"index :", i-y)

In [ ]:
#create a new list and add the all number that is devisible of 5 from 40,100
# create a new list and add the all odd number from 15 to 30.
# x = ["data",45.8,9.1,21j,True,"science",96,85,74,41,52]
# 3. print the all the text that given in this list
# 4. print all integer value in list
# 5. print string and Boolen value in list

In [ ]:
#create a new list and add the all number that is devisible of 5 from 40,100
x = []
for i in range(40,100):
    if i%5==0:
        x.append(i)
print(x)

In [ ]:
# create a new list and add the all odd number from 15 to 30.
x=[]
for i in range(15,30):
    if i%2!=0:
        x.append(i)
print(x)

In [ ]:
# 3. print the all the text that given in this list
x = ["data",45.8,9.1,21j,True,"science",96,85,74,41,52]
for i in x:
    if type(i)==str:
        print(i)

In [5]:
# 4. print all integer value in list
x = ["data",45.8,9.1,21j,True,"science",96,85,74,41,52]
for i in x:
    if type(i)==int:
        print(i, end=" ")

96 85 74 41 52

In [6]:
# 5. print string and Boolen value in list

x = ["data",45.8,9.1,21j,True,"science",96,85,74,41,52]
for i in x:
    if type(i)==str or type(i) ==bool:
        print(i, end=" ")

data True science

In [7]:

# remove all 12 from this list

x = [12,12,12,12,45,78,45,12,56,23,45,12,89,10,12,15,14,20]
while 12 in x:
    x.remove(12)
print(x)

[45, 78, 45, 56, 23, 45, 89, 10, 15, 14, 20]

In [8]:
# remove all the even number from the list

x = [12,12,12,12,45,78,45,12,56,23,45,12,89,10,12,15,14,20]
# Copy, Clear , Append - 
y = x.copy()
x.clear()
for i in y:
    if i%2!=0:
        x.append(i)
print(x)

[45, 45, 23, 45, 89, 15]

# Tupple

* 1. Written in round braket (...)
* 2. Tuple is unchanageble or immutable
* 3. tuple allow duplicate values
* 4. Tuple are ordered.
* 5. we can write multiple type of data in a tuple.
* 6. Tuple are indexed.

In [9]:
#How to create blank tuple
x = tuple()
print(x)

()

In [10]:
x=(12,45,78,5.1,2.2,"Apple","mango", True,21j)
print(x)
print(type(x))
print(len(x))

(12, 45, 78, 5.1, 2.2, 'Apple', 'mango', True, 21j)
<class 'tuple'>
9

In [11]:
#Slicing
x[0:4]

(12, 45, 78, 5.1)

In [12]:
#Indexing
x[5]

'Apple'

In [13]:
# how to change value in Tuple - need to change in list first
# replace 500 at the value of sun

x =("sun","mon",1,3)
x = list(x)
x[0]=500
print(x)

[500, 'mon', 1, 3]

# Packing & Unpacking

# Packing a Tuple
#when we create a tuple, we normally assign values to it. This is called Packing a tuple.

# Unpacking a Tuple
#when we create a tuple, we normally assign values to multiple variable from a tuple.

In [14]:
# Packing
x = (12,45,78)
(a,b,c) = x
print (a)

12

In [15]:
print(b)

45

In [16]:
print(c)

78

In [17]:
# Unpacking:

x= (45,78,88,56,233)
(*a,b,c) = x
print(a)

[45, 78, 88]

In [18]:
x= (45,78,88,56,233)
(a,*b,c) = x
print(b)

[78, 88, 56]

In [19]:
x= (45,78,88,56,233)
(a,b,*c) = x
print(c)

[88, 56, 233]

# List example

In [20]:
# Create a blank list and add all even number in next list.
x = [12,45,78,89,56,12,20,22,24,26,28,30]
y =[]
for i in x:
    if i%2==0:
        y.append(i)
print(y)

[12, 78, 56, 12, 20, 22, 24, 26, 28, 30]

27 Jan 2024

Difference in List & Tupple

# # List
# 1. written in square braket
# 2. List is changable or Mutable
# 3. List allow duplicate values
# 4. List are ordered

# Tupple
1. Written in round braket (...)
2 .Tuple is unchanageble or immutable
3. tuple allow duplicate values
4. Tuple are ordered.
5. we can write multiple type of data in a tuple.
6. Tuple are indexed.

In [21]:
#x=10,y=15,z=65
#x=65, y=10, z=15 - Exchange value
x=10
y=15
z=65
x,y,z=z,x,y

print(x,y,z)

65 10 15

In [22]:
#x,y,z=12,45,78
#Y = 12
#y =12
#z = 45

x,y,z = 12,45,78
z=y
y=x
print(x,y,z)

12 12 45

# Tuple formula and its use

In [23]:
#x = (12,45,12,12,12,78,8,56,23,20)

In [24]:
# count the total number of 12
# show the index number of 78
# sort the Tuple in Descending order
# add the total values in tuple

In [25]:
# 1. count()
# 2. find() or index()
# 3. sorted
# 4. min
# 5. max
# 6. sum

In [26]:
# count the total number of 12
x = (12,45,12,12,12,78,8,56,23,20)
x.count(12)

4

In [27]:
# show the index number of 78
x.index(78)

5

In [28]:
# sort the Tuple in Descending order
# Sort = It works only in List
#Sorted = It works in List, Tuple, Dic. need to take new variable
x = (12,45,12,12,12,78,8,56,23,20) 
y=sorted(x,reverse=True)
print(y)

[78, 56, 45, 23, 20, 12, 12, 12, 12, 8]

In [29]:
# add the total values in tuple
x = (12,45,12,12,12,78,8,56,23,20) 
a=sum(x)
print("Addition of tuple :",a)

Addition of tuple : 278

In [30]:
# Minimum value
x = (12,45,12,12,12,78,8,56,23,20)
min(x)

8

In [31]:
# Max value
x = (12,45,12,12,12,78,8,56,23,20)
max(x)

78

In [32]:
#x=("India","Pakistan","England","Australia","Srilanka")
# show the sort name tuple like Below
#X=(IND,PAK,ENG,AUS,SRI)

x=("India","Pakistan","England","Australia","Srilanka")
y=[]
for i in x:
    i=i[0:3].upper()
    y.append(i)
print(y)

['IND', 'PAK', 'ENG', 'AUS', 'SRI']

In [33]:
# Print the name whose first alphabet start with vowel
x=("India","Pakistan","England","Australia","Srilanka")
for i in x:
    if i[0].lower() in ("a","e","i","o","u"):
        print(i)

India
England
Australia

In [34]:
# Print the name whose first alphabet start with vowel
x=("India","Pakistan","England","Australia","Srilanka")
y=[]
for i in x:
    if i[0].lower() in "aeiou":
        y.append(i)
print(y)

['India', 'England', 'Australia']

In [35]:
# replace the value 500 at the place of 56 and 23
x=(45,78,89,56,23)
x=list(x) # convert into list
x[-2] = 500
x[-1] = 500
x

[45, 78, 89, 500, 500]

In [36]:
# add the total numerical values from this string
#  1st Method
y=[]
x ="pri234n5c45@e%$1e"
for i in x:
    if i.isdigit():
        y.append(int(i))
sum(y)

24

28th Jan 2024

In [37]:
# Python Assignments

In [38]:
#print the hello world 10 times with the help of While loop

x=0
y=11
while y>=x:
    print("Hello World")
    x=x+1

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [39]:
#find the all Number from 50 to 100 that is divisibe of 7 and 9. 

x=100
y=50
while x>=y:
    if y%7==0 and y%9==0:
        print(y)
    y=y+1

63

In [40]:
# Count the all number form 30 to 80 that is divisible of 6 and 8

a=0
for i in range(30,81):
    if i%6==0 and i%8==0:
        a=a+i
        print(i)
print("Total count :",a)

48
72
Total count : 120

In [41]:
#  Write a python program to count the all even Number from 20 to 40.

a=0
for i in range(20,41):
    if i%2==0:
        a=a+1
        print(i)
print("all even number :", a)

20
22
24
26
28
30
32
34
36
38
40
all even number : 11

In [42]:
# Write a python program to sum the total value from 10 to 20 ?

a=0
for i in range(10,21):
    a=a+i
print("sum :", a)

sum : 165

In [43]:
# write a python program to count the all even and Odd Number from 10 to 35

a=0
b=0
for i in range(10,36):
    if i%2==0:
        a=a+1
    else:
        b=b+1
print("Even no.:",a)
print("odd no :",b)

Even no.: 13
odd no : 13

In [ ]:
# Write a python Program to show the factorial of Any number according to the help of user input.

x=int(input("enter the number"))

fact = 1
for i in range (1,x+1):
    fact = fact*i
print("Factorial : -", fact)

In [ ]:
# . find the Average of the first 10 Number with the help of while loop

a=0
x=10
b=0
while x>a:
    a = a+1
    b=b+a
avg=b/x
print("average : -", avg)

In [ ]:
#  Reverse the Number from 80 to 50 with help of for and while Loop
c=0
for i in range(80,50,-1):
    print(i)

In [ ]:
# print your name of alphabet with the help of while loop
x="Nitin Singh"
y=len(x)
z=0
while y>z:
    print(x[z],end=" ")
    z=z+1

In [ ]:
 # print the reverse name with the help of while loop.

x="Nitin Singh"
y=len(x)
z=0
while z<y:
    y-=1
    print(x[y],end=" ")

In [ ]:
# write a python program to show the number between 100 to 150 that is divisible of 5 and 9 and 3

x=0
for i in range(100,151):
    if i%5==0 and i%9==0 and i%3==0:
        print(i)
        x=x+1
print("total no.:",x)

In [ ]:
# Write a python program to show the all leap year from 1947 to 2024 and also show how Many years is a leap year
x=0
for i in range(1947,2025):
    if i%4==0:
        print(i)
        x=x+1
print("Total no of leap year :",x)

# Sets :

# List : [] Changable, Orderded, Allow Duplicates
# Tuple : () Unchangable, Orderded, Allow Duplicates
# Sets : {} Unchangable, Un-Orderded, Don't Allow Duplicates

In [ ]:
x={"PRINCE","NITIN","JATIN"}
print(x)

In [ ]:
x

In [ ]:
x={12,3,12,12,45,58,45}
x

4 Feb 2024

#Set

In [ ]:
x={12,11,13,15,25,12,13,15,20,80}
print(type(x))
print(x)  # It don't show the duplicate value

In [ ]:
# Convert list to set to remove duplicate value
x=[12,11,13,15,25,12,13,15,20,80]
print(type(x))
x=set(x)
list(x)

In [ ]:
# How to create blank Sets

x=set()
print(x)

In [ ]:
# this will create dictionary not a set.
x={}   
print(type(x))

In [ ]:
# How to create blank list
x=[]
print(type(x))

In [ ]:
# How to create blank tuple

x=()
print(type(x))

In [ ]:
# convert into uppper letter in sets.

x ={"Jan","Feb","Mar"}
y=[]
for i in x:
    i=i.upper()
    y.append(i)
set(y)

In [ ]:
# How to add value in sets
# add() - with the help of this function you can add single value
# Update() - through this function we can add multiple value at a time.

In [ ]:
x

In [ ]:
x.add("Jul")
x

In [ ]:
x.update({"Aug","Sep"})  # always use{} to update multiple value with function
x

 # How to delete value from sets.

# Remove - delete any value
# Discard - delete any value
# Pop - It delete random value

In [ ]:
#Remove
x={"a","b","c","d"}
x.remove("c")
x

In [ ]:
# Discard
x={"a","b","c","d"}
x.discard("b")
x

In [ ]:
# Pop
x={"a","b","c","d"}
x.pop()
x

# Union() : with the help of this function we can join two sets

In [ ]:
x={1,2,3,4}
y={5,6,7}x.
z=x.union(y)  # we need to create new variable to apply union function.
print(z)

In [ ]:
# Update vs Union

x={1,2,3,4}
y={5,6,7}
x.update(y)   # No need to create new variable to apply update function.
x

In [ ]:
# Intersection_update() : it keeps the value that available in both sets in same variable

x={"apple","banana","lichi", "mango"}
y={"banana","mango"}
x.intersection_update(y)
x

In [ ]:
# Intersection() : it give the value that available in both sets in new variable
x={"apple","banana","lichi", "mango"}
y={"banana","mango"}
z= x.intersection(y)
z

# Find out value which does not exit in both sets

#Symmetrci_difference_update()

In [ ]:
#Symmetrci_difference_update() - it show the value which not exist in both sets.

x={"One","Two","Three"}
y={"Four","Five","One","Three"}
x.symmetric_difference_update(y)
x

In [ ]:
x={"One","Two","Three"}
y={"Four","Five","One","Three"}
x.symmetric_difference(y)
x

# 10 Feb 2024

In [ ]:


# delete all the value who is less than 50

# add 10 in all the elements in this list

# find the average of the Number who is greater than or equal to 50

In [ ]:
x = [12,45,78,89,56,23,15,48,89,10]
y=x.copy()
y

In [ ]:
x.clear()
x

In [ ]:
for i in y:
    if i>=50:
        x.append(i)
x

In [ ]:
# add 10 in all the elements in this list
x = [12,45,78,89,56,23,15,48,89,10]
for i in x:
    print(i+10)

In [ ]:
# find the average of the Number who is greater than or equal to 50
x = [12,45,78,89,56,23,15,48,89,10]
s=0
c=0
for i in x:
    if i>50:
        s+=i
        c+=1
avg = s/c
print("Average :", avg)

# Dictionary

In [ ]:
# List [] : Ordered, indexed, , changable, Duplicated value allowed, multiple value add, 
# Tuple () : ordered, indexed, Unchangable, allow duplicate,  multiple value add, 
# Set {}: Unorderded, Unindexed, Unchangable, Don't allow duplicates
# Dictionary {}:  Ordered, Changeable, Don't allow duplicates, Written in pair & Key

# Intruduction of Dictionary
1. Dictionary are written in {} braket.
2. It always written in pair of key and values
3. Orderded
4. Not allow duplicate value
5. Changable

In [ ]:
x={1:"One", 2:"Two", 3:"Three", 4:"Four"}
print(x)
print(len(x))
print(type(x))

In [ ]:
car={"Brand":"BMW","Color":"Red","Year":2021,"Model":"XE"}
print(car)

In [ ]:
print(car["Brand"])

In [ ]:
print(car["Color"])

In [ ]:
print(car["Year"])

In [ ]:
print(car["Model"])

#Formula's under Dictionary

In [ ]:
x={"Name":"Nitin","Age": 32,"City":"Delhi"}
print(x)
print(type(x))
print(len(x))

In [ ]:
# How to check total key in dictionary
# dic.key()   - It shows the total key
x={"Name":"Nitin","Age": 32,"City":"Delhi"}
y=x.keys()
print(y)

In [ ]:
# how to check total values in dictionary
# dic.values()
x={"Name":"Nitin","Age": 32,"City":"Delhi"}
y=x.values()
print(y)

In [ ]:
# How to show the key & value in tuple under list
# items()
x={"Name":"Nitin","Age": 32,"City":"Delhi"}
y=x.items()
print(y)

In [ ]:
# How to show the value of the key
x={"Name":"Nitin","Age": 32,"City":"Delhi"}
x["Name"]

In [ ]:
x["Age"]

In [ ]:
x["City"]

In [ ]:
y=str(input("Enter the Key"))
print(x[y])

# Add & Remove in Dictionary

In [ ]:
# How to add a new key and values in the dictionary

In [ ]:
# Without Formula
x={"Name":"Nitin","Age": 36,"City":"Delhi"}
x["Company"]= "BOA"
print(x)

In [ ]:
# With Formula - Update
x={'Name': 'Nitin', 'Age': 36, 'City': 'Delhi', 'Company': 'BOA'}
x.update({"Designation":"Manager"})
print(x)

# How to delete values from the Dictionary

1. Pop
2. Popitems
3. Clear
4. del

In [ ]:
#Pop 
x={1:"One",2:"Two",3:"Three"}
x.pop(2)
print(x)

In [ ]:
#Popitem #  : It delete the last value
x={1:"One",2:"Two",3:"Three"}
x.popitem()  # By default last values
x

In [ ]:
# Clear : It delete the complete value
x={1:"One",2:"Two",3:"Three"}
x.clear()  
x

In [ ]:
# Del :

# 11 Feb 2024

In [ ]:
# State and Capital
x={"Bihar":"Patna","Assam":"Dispur","Goa":"Panji","Haryana":"Chandigarh","Manipur":"Imphal","Tamil Nadu":"Chennai"}
print("|"*100)
y=str(input("Enter the state name"))
z=x[y]
print("The Capital of",y,"is",z)
print("|"*100)

In [ ]:
#Find out the Length of Dictionary
x={"Bihar":"Patna","Assam":"Dispur","Goa":"Panji","Haryana":"Chandigarh","Manipur":"Imphal","Tamil Nadu":"Chennai"}
print("Total no. of State is :",len(x))

In [ ]:
# keys() - It show the total keys of dictionary
x={"Bihar":"Patna","Assam":"Dispur","Goa":"Panji","Haryana":"Chandigarh","Manipur":"Imphal","Tamil Nadu":"Chennai"}
x.keys()

In [ ]:
# values() - It show the total values of dictionary
x={"Bihar":"Patna","Assam":"Dispur","Goa":"Panji","Haryana":"Chandigarh","Manipur":"Imphal","Tamil Nadu":"Chennai"}
x.values()

In [ ]:
# items() - It show the total items of dictionary
x={"Bihar":"Patna","Assam":"Dispur","Goa":"Panji","Haryana":"Chandigarh","Manipur":"Imphal","Tamil Nadu":"Chennai"}
x.items()

In [ ]:
# How to add the new keys in this dictionary.
x={"Bihar":"Patna","Assam":"Dispur","Goa":"Panji","Haryana":"Chandigarh","Manipur":"Imphal","Tamil Nadu":"Chennai"}
x.update({"Delhi":"New Delhi"})
print(x)

In [ ]:
# How to delete the new keys in this dictionary.
x={"Bihar":"Patna","Assam":"Dispur","Goa":"Panji","Haryana":"Chandigarh","Manipur":"Imphal","Tamil Nadu":"Chennai"}
x.pop("Bihar")
print(x)

In [ ]:
# how to sort the keys in dictionary
x={"Bihar":"Patna","Assam":"Dispur","Goa":"Panji","Haryana":"Chandigarh","Manipur":"Imphal","Tamil Nadu":"Chennai"}
sorted(x.keys())

In [ ]:
# how to sort the values in dictionary
x={"Bihar":"Patna","Assam":"Dispur","Goa":"Panji","Haryana":"Chandigarh","Manipur":"Imphal","Tamil Nadu":"Chennai"}
sorted(x.values())

In [ ]:
# print all values
x={"Bihar":"Patna","Assam":"Dispur","Goa":"Panji","Haryana":"Chandigarh","Manipur":"Imphal","Tamil Nadu":"Chennai"}
for i,j in x.items():
    print(i," : ",j)

In [ ]:
# Show the all state and capital whose state name have letter "i"

x={"Bihar":"Patna","Assam":"Dispur","Goa":"Panji","Haryana":"Chandigarh","Manipur":"Imphal","Tamil Nadu":"Chennai"}
for i,j in x.items():
    if "i"in i:
        print(i," : ",j)

In [ ]:
# Exchange all the key to values and values to key
x={"Bihar":"Patna","Assam":"Dispur","Goa":"Panji","Haryana":"Chandigarh","Manipur":"Imphal","Tamil Nadu":"Chennai"}
y={}
for i,j in x.items():
    y[j]=i
print(y)

# Nested Dictionary

# 17 Feb 2024

#Nested Dictionary

In [ ]:
dic={"Name":["Nitin","Prince","Ravi"],"Age":[25,36,34]}
dic["Name"]

In [ ]:
# Marksheet
a={"hnd":45,"eng":59,"maths":75,"sc":80,"sst":65}
b={"hnd":65,"eng":89,"maths":79,"sc":82,"sst":80}
c={"hnd":55,"eng":79,"maths":80,"sc":75,"sst":74}
d={"hnd":95,"eng":69,"maths":90,"sc":92,"sst":92}
Marks={"Nitin":a,"Prince":b,"Jatin":c,"Ravi":d}
len(Marks)

In [ ]:
# Check all the keys
Marks.keys()

In [ ]:
# check all the items
Marks.items()

In [ ]:
# check all values
Marks.values()

In [ ]:
# How to check Nitin's marks
Marks["Nitin"]

In [ ]:
# How to check marks in one subject
Marks["Nitin"]["eng"]

In [ ]:
# how to check keys for particular student

Marks["Nitin"].keys()

In [ ]:
# how to check values for particular student

Marks["Nitin"].values()

In [ ]:
# Find the total marks of Nitin

a={"hnd":45,"eng":59,"maths":75,"sc":80,"sst":65}
b={"hnd":65,"eng":89,"maths":79,"sc":82,"sst":80}
c={"hnd":55,"eng":79,"maths":80,"sc":75,"sst":74}
d={"hnd":95,"eng":69,"maths":90,"sc":92,"sst":92}
Marks={"Nitin":a,"Prince":b,"Jatin":c,"Ravi":d}

x=Marks["Nitin"].values()
sum(x)

In [ ]:
# Find out Marks with input the user name

user=str(input("enter the name :-"))

x=Marks[user].values()
Total_Marks = sum(x)
print("Total Marks of",user,"is",Total_Marks)

In [ ]:
# # Find out Marks with % input the user name

user=str(input("enter the name :-"))

x=Marks[user].values()
Total_Marks = sum(x)
t = len(Marks[user].keys())
per=Total_Marks/t
print("Total number : 500")
print("Percentage :-",per)
print("Total number obtained is :-",Total_Marks)

In [ ]:
# # Find out Division with % input the user name

user=str(input("enter the name :-"))

x=Marks[user].values()
Total_Marks = sum(x)
t = len(Marks[user].keys())
per=Total_Marks/t

if per>=60:
    div="First Division"
elif per>=45:
    div="Second Division"
elif per>=33:
    div="Third Division"
else:
    div="Fail"


print("Total number : 500")
print("Percentage :-",per)
print("Total number obtained is :-",Total_Marks)
print("Division :-",div)

In [ ]:
# Roll no.
a={"hnd":45,"eng":59,"maths":75,"sc":80,"sst":65}
b={"hnd":65,"eng":89,"maths":79,"sc":82,"sst":80}
c={"hnd":55,"eng":79,"maths":80,"sc":75,"sst":74}
d={"hnd":95,"eng":69,"maths":90,"sc":92,"sst":92}
Marks={"Nitin":a,"Prince":b,"Jatin":c,"Ravi":d}
Roll_no={1:"Nitin",2:"Prince",3:"Jatin",4:"Ravi"}

z=int(input("enter the Roll.no :-"))
name=Roll_no[z]
x=Marks[name].values()
Total_Marks = sum(x)
t = len(Marks[user].keys())
per=Total_Marks/t

if per>=60:
    div="First Division"
elif per>=45:
    div="Second Division"
elif per>=33:
    div="Third Division"
else:
    div="Fail"

print("Student Name :-",name)
print("Total number : 500")
print("Percentage :-",per)
print("Total number obtained is :-",Total_Marks)
print("Division :-",div)


print(Roll_no)

In [ ]:
# Write a programe to create a dict with the help of user input
#x={"Name":"Prince sharma","Age":35,"city":"Delhi"}

dic={}
L=int(input("enter the length of dictionary :"))
for i in range(L):
    key=(input("enter the key :-"))
    value=(input("enter the value :-"))
    dic[key] =value
print(dic)

In [ ]:
# convert the dictionary of values from key to values and values to key

x={"Name":"Prince sharma","Age":35,"city":"Delhi"}
x1=x.copy()
x.clear()
for i,j in x1.items():
    x[j]=i
print(x)

In [ ]:
# Write a programe to create a dict with the help of user input

dic={}
L=int(input("enter the Lengeth:"))
for i in range(L):
    key=(input("Enter the key :"))
    value=(input("Enter the value :"))
    dic[key]=value
print(dic)

# 18th Feb 2024

## cheptor:- function in python 


1. What is function?
  A function is a back of code which only runs when it is called.
  You can pass data , known as perameter , into a function.
  a functioncan return data a result.


 creating a  function 
  in pythoon  Function  is defined using the def keyboard:


There are mainly two fuctions.

1.  user defined function : the user  defined function user perform
   the specific  task

2.  Built in function :  the Built in function are those function that  are 
  predifinied in python

# Built in Funtion

In [ ]:
x=[15,30,45,75]
sum(x)

In [ ]:
x=[15,30,45,75]
min(x)

In [ ]:
x=[15,30,45,75]
max(x)

# User Define Function

In [ ]:
# Creating the Function 
def table(x):
    for i in range(1,11):
        print(i*x)

In [ ]:
# Calling the Funtion 
table(5)

In [ ]:
def nitin():     # Blank Parameter
    print("Hello World")

In [ ]:
nitin()

In [ ]:
def nitin(x,y):     # with parameter
    print(x+y)

In [ ]:
nitin(12,13)

In [ ]:
def nitin():
    print("Ajmer is a clean city")

In [ ]:
nitin("My name is nitin")   # cannot assign another parameter

In [ ]:
def nitin():
    print("Ajmer is a clean city")
nitin()

In [ ]:
def nitin(x="Hello World"):    # Give parameter as x="Hello World"
    print(x)

In [ ]:
nitin()

In [ ]:
nitin("Ajmer is a clean city")

In [ ]:
def nitin(x,y,z):     # Function for addition
    a = x + y + z
    print("Addition :-",a)
nitin(45,75,25)

In [ ]:
sum([45,75,25])     # 2nd Way for Addition

In [ ]:
def nitin(x):
    s=0
    for i in x:
        s+=i
    print(s)

In [ ]:
x=[12,35,45,70]
x

In [ ]:
sum(x)  # Through Built in function

In [ ]:
nitin(x)   # through user define function

In [ ]:
# Create a function to show the number is odd or even

In [ ]:
x=45    # Through Built in Function
if x%2==0:
    print("Even")
else:
    print("odd")

In [ ]:
def check(x):  # Through user function
    if x%2==0:
        print("Even")
    else:
        print("odd")

check(45)
check(72)

In [ ]:
# Create a function to print to find out wheater text is odd or even

def nitin(x):
    L=(len(x))
    if L%2==0:
        print("even")
    else:
        print(odd)


nitin("Himachal")

In [ ]:
# Create a function to print the all even text from the string

def even(x):
    for i in range (len(x)):
        if i%2==0:
            print(x[i],end=" ")
x= "Himanchal"

even(x)

In [ ]:
# Create a function to count all the odd number


def odd(x):
    c=0
    for i in x:
        if i%2!=0:
            c+=1
    print("Total odd number :", c)

x=[1,4,5,7,8,9,6,5,4,2,1,5,98,7,5,6]
odd(x)

# 24 Feb 2024

#default parameter

In [ ]:
def fun(a,b,c=0):     ### Create the function
    d=a+b+c
    print("addition :",d)

In [ ]:
fun(45, 78)    ### Call the Function

In [ ]:
fun(45,55,65)

In [ ]:
# create a function to extract the first 3 alphabet from the text
# and last three alphabet from the text

def ex(a):
    print("First 3 letter is :", a[0:3])
    print("Last 3 letter is :", a[-3:])

In [ ]:
ex("India")    ### call the function

In [ ]:
# create a function to reverse the text

def rev(a):
    print("Reverse Text :", a[-1: :-1])

In [ ]:
rev("India")

In [ ]:
# Create a function to count the total number of alphabet "i" & "l"

def co(x):
    x = x.lower()
    a=x.count("i")
    b=x.count("l")
    print("i :-",a)
    print("l :-",b)

In [ ]:
m="Hiiiiiimachall Pradesh"
n="arunachalllll Pradesh"
co(m)
co(n)

# # Number of arguments

By default , a function must be called with the correct number of arguments.
Meaning that if your functione expects two argument, you have to call he function
with argument,no more ,and not less

# Arbitatry arguments, *args
If you do not know how many arguments that will be passed into your function,
add astrick * before the perameter name in the function definition.
This way the function will receive a tuple of arguments, and can access the item in the index:

In [ ]:
def abc(*x):
    print(x[0])
    print(x[1])
    print(x[2])
    print(x[3])

In [ ]:
abc(45,55,32,"Brillica")

In [ ]:
def xy(*a):
    print(a[0:])

In [ ]:
xy(45,4564,454,321,)

# Keyword Arbitatry Arguments

In [ ]:
# Keyword Argument
# You can also send arguments with the key = value syntax
# this way the order of the arguments does not matter

In [ ]:
#without keyword parameter

def x(Name,Age,Class):
    print("My name is ", Name)
    print("I am ", Class,"with Maths honors")
    print("I am", Age," year old")
x(Name="Nitin Singh", Age=22, Class="Graduate")

In [ ]:
# with Keyword parameter
def x(**a):
    print("My name is ",a ['name'])
    print("I am ", a['Class'],"with Maths honors")
    print("I am", a['Age'],"year old")

In [ ]:
x(name="Nitin Singh", Age=35, Class="Graduate")

In [ ]:
# Create a function to extract the first alphabet from each text

def ex(a):
    for i in :
        print(i[0])

In [ ]:
x=["apple","banana","grapes", "lichy"]
ex(x)

# Lambda Function :

#* A Lambda function is a small anoynymous function

#* A Lambda function ca take any number of arguments, but can only have one expression

In [ ]:
x = lambda a,b:a+b

In [ ]:
x(45,45)

In [ ]:
x=lambda a,b,c,d: a+b*c/d
x(45,55,10,2)

In [ ]:
x=[12,45,89,78,89,56,23]
y=lambda a : a%2==0
list(filter(y,x))      # Filter Function - it pick value whenever value is True

# 25th Feb 2024

# Exception Handlling

* When an error occurs, or exception as we call it ,python will normally stop
* and generate an error
* message. these exceptions can be handled using the try statement:
* the try block lets you test a block of code for errors.
* the except block lets you handle the error.
* the else block lets you execute code when there is no error.
* the finally block lets  you execute code , regardless of the result of the 
* try -and except block.

# TRY - the try block lets you test a block of code for errors. We create logic in Try.
# EXCEPT - the except block lets you handle the error. Here, we write Threads or handle the Error.
# ELSE - the else block lets you execute code when there is no error.
# FINALLY - the finally block lets you execute code , regardless of the result of the try -and except block.

In [ ]:
try: 
    print(z) # we don't give any value but instead off error, system will print ("enter the value") 
except: 
    print("please enter value")

In [ ]:
try: 
    z = 10
    print(z) # when we enter value it will show the result
except: 
    print("please enter value")

In [ ]:
try:
    print(x)     # when we don't enter value it will show error.

In [ ]:
# Else :
# when we don't place value.
try:
    print(a)
except:
    print("enter the value")
else:
    ("value is correct")

In [ ]:
# Else :
# when we  place value.
try:
    a = 25
    print(a+10)
except:
    print("enter the value")
else:
    print("value is correct")
finally:     # It run try & except both
    print("done")

In [ ]:
# Try & Except 
x=5000
if x>3000
print("True")

# 02 March 2023

In [ ]:
x =[1,2,3,4]
y=["One","Two","Three","Four"]
for i in (x,y):
    for j in i:
        print(j)

# Zip Function

# Zip - it is use to join two or more than two container in list, tuple and dictionary.

In [ ]:
# Print "Four" if we i = 4 from List
x =[1,2,3,4]
y=["One","Two","Three","Four"]
z=zip(x,y)
for i,j in z:
    if i==4:
        print(j)

In [ ]:
# Print "Four" if we i = 4 from dictionary 

dic={1:"One",2:"Two",3:"Three"}
for i,j in dic.items():
    if i==3:
        print(j)

In [ ]:
# Convert List into Dictionary
x =[1,2,3,4]
y=["One","Two","Three","Four"]
dict(zip(x,y))

In [ ]:
# how to zip 3 lists.

x =[1,2,3,4]
y=["One","Two","Three","Four"]
z=["i","ii","iii","iv"]
a= list(zip(x,y,z))
print(a)

In [ ]:
x =[1,2,3,4]
y=["One","Two","Three","Four"]
z=["i","ii","iii","iv"]
a= list(zip(x,y,z))
for i,*j in a:      # *j (it assign all remaining value in J and 1st value place under i )
    print(i,j)

# Oops

oops :- oops object oriented programings

 
* A class is an objeective oriented programming , almost everything is python is an objective with its properties and methods.
* A class like an objecte constroctor or a "blue print" for creating an object 
* objects are related to real wntities such as phone , mobile car extract
* Major principeles of objects oriented prograamming


1. Class
2. objects
3. methods
4. inheritance
5. polymorphism
6. Data abstraction
7. Encapsulation.m

In [ ]:
class A():
    print("Hello World")

In [ ]:
class A():
    x=10
    y=20
    z=x+y

In [ ]:
b=A()
print(b.z)

In [ ]:
## Two Def function in one class function 

class B:
    def fun(self,x,y):   # Always use self function for 2 def function.
        self.x = x
        self.y = y
        self.z = x+y
    def fun2(self,a,b):
        self.a = a
        self.b = b
        self.c = a+b

In [ ]:
c = B()     # First call the class

In [ ]:
c.fun(45,75)   # call the function with parameter
print(c.z)    # print the value of function with class object

In [ ]:
# 3 Function in 1 class

class parent():
    def add (nitin,a,b):
        nitin.a = a
        nitin.b = b
        nitin.c = a+b
    def sub (nitin,d,e):
        nitin.d = d
        nitin.e = e
        nitin.f = d-e
    def exp (nitin,g,h):
        nitin.g = g
        nitin.h = h
        nitin.i = g**h

In [ ]:
p = parent()   # call the class

In [ ]:
p.add(12,25)   # entring parameter
p.sub(89,78)    # entring parameter
p.exp(5,3)     # entring parameter

In [ ]:
print(p.c)

In [ ]:
print(p.i)

In [ ]:
print(p.f)

# 03 March 2024

# OOPS - Object Oriented Programing

# Inheritance
1. Single Inheritance
2. Multiple Inheritance
3. Hybrid Inheritance
4. Multilevel Inheritance

In [ ]:
# 1 class with multiple function
class A():       # Program
    def rev(self,x):
        self.x = x
        self.y = x[-1::-1]
    
    def cap(self,z):
        self.z = z
        self.m = z.upper()

In [ ]:
c = A()      # call the class
c.rev("akansha")  # enter the parameter
c.cap("nitin")    # enter the parameter

In [ ]:
print("Reverse the text :",c.y)
print("Capital letter text :", c.m)

In [ ]:
# Single Inheritance - one class inherited in 2nd class

class A():
    def table(self,x):
        self.x = x
        for i in range(1,11):
            print(f"{i} X {x} = {i*x}")    # f "" - This function use jf need to type multiple "".

class B(A):
    def even(self,y):
        self.y = y
        for i in range(y):
            if i%2==0:
                print("Even Number :",i)

In [ ]:
c= B()    # call the 2nd class

In [ ]:
c.table(5)
c.even(20)

  __init__ Function : its call the function without the function name.

In [ ]:
# __init__ Function:

class A():
    def __init__(self,x,y):
        self.x = x
        self.y = y
        self.z = x % y

In [ ]:
c = A(89,15)
print ("Modules : ",c.z)

In [ ]:
# Single Inheritance with multiple function

class A():
    def __init__(self,name):
        self.name = name

class B():
    def __init__(self,name,age):
        A.__init__(self,name)
        self.name = name
        self.age = age
        
        print("My name is :", name)
        print("I am", age, "years old")

In [ ]:
c = B("Nitin Singh", 24)

# Multiple Inheritance

1st class inheritant in 2nd class then 2nd class inheritant in 3rd class.

In [ ]:
class A():
    def first(self,x):
        self.x = x
        print("Name : ",x)
    
class B(A):
    def second(self,y):
        self.y = y
        print("Age  : ",y)
    
class C(B):
    def third(self,z):
        self.z = z
        print("City : ",z)

In [ ]:
c = C()
c.first("Viart kohli")
c.second(35)
c.third("Delhi")

# Hybrid Inheritance

  1st & 2nd class put in class 3rd

In [ ]:
class A():
    def first(self,x):
        self.x = x
        print("Name : ",x)
    
class B():
    def second(self,y):
        self.y = y
        print("Age  : ",y)
    
class C(A,B):
    def third(self,z):
        self.z = z
        print("City : ",z)

In [ ]:
c = C()
c.first("Viart kohli")
c.second(35)
c.third("Delhi")

In [ ]:
#  Hybrid Inheritance with __init__ Function :

class First():
    def __init__(self,a):
        self.a = a

class Second():
    def __init__(self,b):
        self.b = b
        
class third(First,Second):
    def __init__(self,a,b,c):
        First.__init__(self,a)
        Second.__init__(self,b)
        self.c = c
        
        print("name :",a)
        print("age :",b)
        print("City :",c)

In [ ]:
k = third("Rohit sharma",38,"Mumbai")

# 09 March 2023

# Numpy - Numerical Python

what is numpy?

* Numpy stand for numerical python. Numpy is python library used for working with array.
1. NumPy is a Python library.
2. NumPy is used for working with arrays.
3. NumPy is short for "Numerical Python".

In [ ]:
# How to install Python Library numpy

#  !pip install numpy

In [ ]:
import numpy
x = numpy.array([15,23,40])
x

In [ ]:
# what is the key difference between list and array

# 1. array is faster than List
# 2. Here is 100+ formula for mathematics
# 3. Here i can add or change the dimention of the array
# 4. In array we can create matrix easly

In [ ]:
# Creating a numpy array
# In numpy most powerful data type is string.

x = numpy.array(["data",45.56,50,True])  # 
print(x)

In [ ]:
x = numpy.array([["data",45.56,50,True]])  # 
print(x)
print(x.dtype)
print(type(x))
print(x.ndim)

In [ ]:
#nd = Number of Dimention

In [ ]:
# Dimentions :- Dimention is the total NUmber of List in a Array
# Dimention :- it is a combination of row and column
# dtype   :- its show the data type of array
# shape  :- is show the shape total number of row and column
# len :- its show the length of the array
# ndim :- its show the number of Dimention of the array
# type :- its show the type of the array

In [ ]:
# 2nd most powerful data type is Complex
x = numpy.array([45.56,50,True, 21j])
x
x.dtype

In [ ]:
# 3rd most powerful data type is float
import numpy as np
x = np.array([45.56,50,True])
print(x)
x.dtype

In [ ]:
# 1. Strings : U64 or U32
# 2. Complex
# 3. Float
# 4. Integar : - int32 or int64
# 5. Boolen

In [ ]:
import numpy as np
x = np.array([[[4,5,6],[7,8,4],[1,2,3]]])
print(x)
print("Total number of Row & Column :- ", x.shape)
print(x.ndim)     # its show the total number of list

In [ ]:
x.dtype

In [ ]:
# arrange Function : its create a array with range of sequence number

In [ ]:
# create a array from 1 to 20

x= np.arange(1,21)
x

In [ ]:
# range(starting point, ending point, step size)
# arange(starting point, ending point, step size)

In [ ]:
x = np.arange(1,21,2)
print(x)

In [ ]:
# How to create a metrix

# 3 x 3

In [ ]:
x = np.array([[1,2,3],[4,5,6],[7,8,9]])
print(x)

In [ ]:
x = np.array([[1,2,3],[4,5,6],[7,8,9]])
x.shape   # Shape - provide rows & col. count

In [ ]:
x.ndim

In [ ]:
type(x)

In [ ]:
len(x)

In [ ]:
x.size

In [ ]:
x = [[1,2,3],[4,5,6],[7,8,9]]
print(x)
len(x)

In [ ]:
# create a dimention of 10 array

x = np.array([1,2,3],ndmin = 10)
print(x)

In [ ]:
# create a dimention of 20 array

x = np.array([1,2,3],ndmin = 20)
print(x)

In [ ]:
# ndmin : - parameter of array
# its create dimention is array according to user

In [ ]:
x = np.arange(10)
print(x)

In [ ]:
# reshape function : its provide the shape of any array in matrix

In [ ]:
# 10

# 2x 5
# 5 x 2
# 1 x 10
# 10 x 1

In [ ]:
x = np.arange(10)
x

In [ ]:
x.reshape(5,2)

In [ ]:
x.reshape(2,5)

In [ ]:
x.reshape(1,10)

In [ ]:
x.reshape(10,1)

In [ ]:
x = np.arange(20,60)
x

In [ ]:
x.size

In [ ]:
    # 4 x 5
    # 5 x 4

In [ ]:
x.reshape(2,4,5)  # reshape (no_metrics,rows,columns)

# 10 March 2024

#numpy

* array
* size
* len
* dtype
* ndim
* arange
* reshape
* ndmin

In [ ]:
# Create 3D array
# 2D array

In [ ]:
import numpy as np
x = np.array([[12,45,78,89,56]])
print(x)

In [ ]:
x.ndim

In [ ]:
x.size

In [ ]:
len(x)

In [ ]:
# Arange
x=np.arange(1,11)
x

In [ ]:
# Indexing & Slicing in array

# Indexing - extract the one text or number at a time.
# Slicing - extract the range of caracter or number at a time.

In [ ]:
# Indxing
x = np.array([1,4,7,8,5,2])
x[1]

In [ ]:
x = np.array([[[[45,78,89]]]])
x

In [ ]:
# extract 45 from this array  - 1st Methord
x = np.array([[[[45,78,89]]]])
x[0][0][0][0]

In [ ]:
# extract 78 from this array  - 2nd Methord
x = np.array([[[[45,78,89]]]])
x[0,0,0,1]

In [ ]:
# extract 45,78 from this array
x = np.array([[[45,78,89,56,23]]])
x[0,0,0:2]

In [ ]:
# Extract 45,89,23 with setp size 2
x = np.array([[[45,78,89,56,23]]])   
x[0,0,0:5:2]       # step size 2

In [ ]:
# Extract the these Number
# 45
# 12
# 56
# [45,89]
# [56,89]

In [ ]:
x = np.array([[[[12,45,89,56]]]])
x[0,0,0,1]

In [ ]:
x = np.array([[[[12,45,89,56]]]])
x[0,0,0,0]

In [ ]:
x = np.array([[[[12,45,89,56]]]])
x[0,0,0,3]

In [ ]:
# [45,89]
x = np.array([[[[12,45,89,56]]]])
x[0,0,0,1:3]

In [ ]:
#[56,89]
x[0,0,0,-1:-3:-1]

In [ ]:
# np.ones((no_of_matrix,no_of_rows,No_of_Col))
# np.zeros((no_of_matrix,no_of_rows,No_of_Col))
# np.full((no_of_matrix,no_of_rows,No_of_Col),matrix_num)

In [ ]:
x = np.ones((3,4,5))  #3 = no of matrics
                    #4 = no of rows
                    #5 = no of columns
x

In [ ]:
# Ones : - it create a metrix with combination of row & col. with value as 1.
# zeros : - it create a metrix with combination of row & col. with value as 0.
# full : -  it create a metrix with combination of row & col. with user provided value.

In [ ]:
# Ones :

x = np.ones((4,5), dtype = int)
x

In [ ]:
# zeros
x = np.zeros((5,10))
x

In [ ]:
# full

x = np.full((3,4,5),200)   # 3 = no. of metrix
                            #4 = no of rows
                            #5 = no of columns
                            # 200 - user metrix number
x

In [ ]:
# change data type

x = np.full((4,5),200, dtype=str)
x

In [ ]:
# linspace : its distribute between the two number in same length by user

x = np.linspace(1,10,20)
x

In [ ]:
x.size

In [ ]:
x = np.linspace(1,2,10)
x

In [ ]:
# Flattern : It convert multiple dimention metrix in single dimentionn array .  

x = np.array([[[1,2],[7,8],[9,6]]])
x = x.flatten()
print(x)

In [ ]:
x = [[1,2,3],[2,3,4],[9,8,6]]
print(x)

In [ ]:
y = np.array(x)
z = list(y.flatten())
print(z)

In [ ]:
# joins : its combine the two or more than two array

# concatenate - its combine the two or more than two array

In [ ]:
x = np.arange(1,10)
y = np.linspace(20,30,10)
x

In [ ]:
x.size

In [ ]:
y

In [ ]:
y.size

In [ ]:
x = np.array([[45,56,89]])
y = np.array([[78,89,56]])
x,y

In [ ]:
np.concatenate((x,y))

In [ ]:
np.concatenate((x,y),axis = 1)

In [ ]:
np.concatenate((x,y),axis = 0)

In [ ]:
# transpose : it convert the metrics from row to col. and col to row

x = np.array([[1,2,3,4,5],[6,7,8,9,10]])
x

In [ ]:
x.shape

In [ ]:
x = x.transpose()
x.T

# 16 March 2024

In [ ]:
# mean :- It show the average value of the array
# median :- its show the mid value of the array.
# std : - Its show the standard deviation of the array
# var :- it show the variance of the array
# sqrt :- its show the base value of any number
# axis = provide sum of rows & column
# diag :- its extract diagonal value from the metrics
# diagflat : 
# argmax : - it show the index of the maxium value
# argmin : - it show the index of the min value
# max : - it show the maximum value
# min : it show the minimum value
# fliplr() : - it reverse the value of each array

In [ ]:
x = [23,45,56,64,45,67,65]
l = len(x)
v = 0
for i in x():
    v+=1
avg = v/l
print(avg)

In [ ]:
# Mean : It show the average value of the array.
# Find out avg through mean function
import numpy as np
x = np.array([12,45,78,89,56,23])
avg = np.mean(x)
print(avg)

In [ ]:
# Median : its show the mid value of the array.

import numpy as np
x = np.array([12,45,78,89,56,23])
mid = np.median(x)
mid

In [ ]:
# mean & median with different value

x = np.array([4,7,5,10,25,200])
mid = np.median(x)
mid

In [ ]:
avg = np.mean(x)
avg

In [ ]:
# std :- Its show the standard deviation of the array
np.std(x)

In [ ]:
# var :- it show the variance of the array

np.var(x)

In [ ]:
# create a numpy array with the help of user input

x = []
l = int(input("please enter the length of array :"))
for i in range(l):
    a = int(input("enter values :-"))
    x.append(a)
    
ar = np.array(x)
print(ar)

In [ ]:
# linspace() : it give user defined numbers between two provided number

x = np.linspace(10,20,5)   # 2 no. are 10 & 20 . 5 is how many numbers we want between 10 to 20.
print(x)

In [ ]:
# np.random.randint - its give random number between any range

x = np.random.randint(45,90,10)
x

In [ ]:
# # sqrt :- its show the base value of any number
x = np.array([49,169,144,100])
np.sqrt(x)

In [ ]:
x = 7**2
x

In [ ]:
# create matrix of 5 x 6 with the help of arrange and reshape function

x = np.arange(1,31)
y = x.reshape(5,6)
y

In [ ]:
x = np.full((5,6),10)
x

In [ ]:
x = np.random.randint(1,20,20)
x = x.reshape(5,4)
x

In [ ]:
x.sum()

In [ ]:
np.sum(x)

In [ ]:
# axis = provide sum of rows

x = np.random.randint(1,20,20)
x = x.reshape(5,4)
print(x)
np.sum(x,axis = 1)    # # it add value by rows

In [ ]:
np.sum(x,axis = 0)   # it add value by column

In [ ]:
np.diag(x) # its convert the diagonal value from the metrix

In [ ]:
# diagflat  - 

x = np.array([[12,45,78],[86,56,23],[25,36,14]])
x

In [ ]:
x.size

In [ ]:
y = np.diagflat(x)

In [ ]:
y

In [ ]:
y.shape

In [ ]:
# argmax : - it show the index of the maxium value

x = np.array([45,78,89,56,23,12,45,56])
np.argmax(x)

In [ ]:
# argmin : - it show the index of the min value
np.argmin(x)

In [ ]:
# max : - it show the maximum value
np.max(x)

In [ ]:
# min : it show the minimum value
np.min(x)

In [ ]:
# cumsum - it will provide running total of value

In [ ]:
# 1
# 1+2
# 1+2+3
# 1+2+3+4
# 1+2+3+4+5
# 1+2+3+4+5+6

In [ ]:
x = np.array([1,2,3,4,5,6])
np.cumsum(x)

In [ ]:
# Comperision Operator

x = np.array ([45,78,89,56,23,20])
x [x>50]   # compare & extracting the value

In [ ]:
x [x<50]

In [ ]:
# fliplr() : - it reverse the value of each array

x = np.array([[12,45,78],[12,15,42]])
np.fliplr(x)

# 17 March 2024

# Pandas

1. what is pandas?
* Pandas is python library use for working with data sets.
* pandas instruction
* pandas is a python library used for working with data sets.
* it has fuctions for analyzing, cleaning,cleaning exploring,and manuplating data.

* the name pandas has a reference to both "panel data", and "python data analysis"and it was created by wes Mckinney in 2008.

2. why use pandas?
* pandas allow us to anayze big data and make conclusion based on statistical theoies.

####pandas series?

3. what is a series?
* A pandas series like a column in a table.
* it is a one -dimentional array holding off any type .
* series is  a one dimentional labled array capable of holding any data type

In [ ]:
# How to install Pandas in Python

!pip install pandas

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# creating a Series

x = pd.Series([12,45,78,89,56,23,56,89,45])
print(x)
print(len(x))
print(type(x))
print(x.shape)    # shape - show the column & ros
print(x.ndim)    # ndim - no. of demension

In [ ]:
# string data type refer as object under Pandas
x = pd.Series(["Nitin","Jatin","Prince"], index=[1,2,3])
x

In [ ]:
x[1]

In [ ]:
x[2]

# Pandas Data Frame

* A Data Frame is a 2 dimentional labled data structure, like a 2 dimention array
* or pandas with Row & Column

In [ ]:
# Create table through Dictionary
x = {
    "Name":["Nitin","Jatin","Prince","Ravi","Kunal"],
    "Age":[35,26,30,32,34],
    "City":["Ajmer","Delhi","Jaipur","Kota","Jodhpur"],
    "Pincode" :np.random.randint(5000,8000,5)
    }
x

In [ ]:
# Create table through Data Frame
df = pd.DataFrame(x)
df

In [ ]:
df.shape

In [ ]:
print(f"Total number of rows is: {df.shape[0]} and total no of rows is:{df.shape[1]}")

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df.info()

In [ ]:
# Create table direct under DataFrame

df = pd.DataFrame({"Name":["A","B","C","D","E","F","G","H","I","J"],
                    "Sales1": np.random.randint(500,1000,10),
                   "Sales2" : np.random.randint(500,1000,10),
                   "Sales3" : np.random.randint(500,1000,10)},
                 index = [1,2,3,4,5,6,7,8,9,10]
                 )
print(df)

In [ ]:
df.info()

In [ ]:
df.columns

In [ ]:
type(df)

In [ ]:
df.ndim

In [ ]:
# with None value (nan)
df = pd.DataFrame({"Name":[np.nan,"B","C","D","E","F","G","H","I","J"],
                    "Sales1": np.random.randint(500,1000,10),
                   "Sales2" : np.random.randint(500,1000,10),
                   "Sales3" : np.random.randint(500,1000,10)},
                 index = [1,2,3,4,5,6,7,8,9,10]
                 )
print(df)

In [ ]:
# duplicated() - To check the duplicate value from the table.

df.duplicated().sum()

In [ ]:
df.info()

In [ ]:
# How to chech  Null value in dataset
df.isnull().sum()

In [ ]:
df.isna().sum()

In [ ]:
df

In [ ]:
# head()  :- its show 1st five rows by default
# tail() :-  its show last five rows by default

In [ ]:
df.head()   # its show 1st five rows by default

In [ ]:
df.tail()  # its show last five rows by default

# 23 March 2024

# Pandas

In [ ]:
# What is Pandas ?

In [ ]:
# what is pandas?
# pandas instruction

# pandas is a python library used for working with data sets.

# it has fuctions for analyzing, cleaning,cleaning exploring,and manuplating data.

# the name pandas has a reference to both "panel data", and "python data analysis"and it was created by wes Mckinney in 2008.

# why use pandas?
# pandas allow us to anayze big data and make conclusion based on statistical theoies.
# pandas series?
# what is a series?
# A pandas series like a column in a table.

# it is a one -dimentional array holding off any type .

# series is a one dimentional labled array capable of holding any data type

In [ ]:
import pandas as pd

In [ ]:
# How to import data of excel & csv format in python

In [ ]:
link = "E:\\Nitin\\Python\\Mobile_Data.csv"
df = pd.read_csv(link)
df.head()   # To make Heading in bold

In [ ]:
# Starting Five Rows
# head : -   # its show 1st five rows by default
df.head()

In [ ]:
# starting 10 rows

df.head(10)

In [ ]:
# tail : -  # its show last five rows by default
df.tail()

In [ ]:
#Last 10 records
df.tail(10)

In [ ]:
# check total no. of Rows & Column

df.shape

In [ ]:
# How to check the name of the colum.

# 1st Methord

df.columns

In [ ]:
# How to check the name of the colum.

#  2nd Methord

for i in df:
    print(i)

In [ ]:
# How to check total no. of Null value in complete data sets.

df.isnull()

In [ ]:
# How to check total no. of Null value in complete data sets.
# isnull() or we can use isna()
df.isnull().sum()

In [ ]:
# to check complete info of data sets

df.info()

In [ ]:
# To check only datatype.

df.dtypes

In [ ]:
# How to select the columns

df.columns

In [ ]:
# How to find selected multiple columns
c =["brand","model","sales_price"]

x = df[c]
print(x)

In [ ]:
# How to rename the columns.
# Rename sales column into quantity

df.head(2)

In [ ]:
df.rename(columns={"sales":"Quantity"},inplace=True)   # It rename desired column name
df.columns

In [ ]:
df.head(2)

# 30 March 2024

In [ ]:
# 1. Count total number of processor in processor column
# 2. count all values in base color
# 3. count most of time repeated top 5 model in pandas
# 4. show the total unique number in base_color
# 5. show the total unique processor
# 6. show the number of unique model
# 7. extract seven columns {brand,model,processor,ram,rom,sales price} from these dataset
# 8. convert all the text of screen size in small letter
# 9. replace "Blue" at the place of other in Base color column
# 10. show the length of the model in a new column

In [ ]:
# 1. Count total number of processor in processor column

df["processor"].nunique()

In [ ]:
df.processor.nunique()

In [ ]:
# 2. count all values in base color

df.base_color.nunique()

In [ ]:
# 3. count most of time repeated top 5 model in pandas
df.head(2)

In [ ]:
# value_counts()  : it counts the values

x = df["model"].value_counts().reset_index() #.rename(columns = {"index":"Model","model":"counts"})
x.head()

In [ ]:
# 4. show the total unique number in base_color

# 6. show the number of unique model
# 7. extract seven columns {brand,model,processor,ram,rom,sales price} from these dataset

In [ ]:
# 6. show the number of unique model
df.model.nunique()

In [ ]:
# 7. extract seven columns {brand,model,processor,ram,rom,sales price} from these dataset

a = ["brand","model","processor","RAM","ROM","sales_price"]
x = df[a]
print(x)

In [ ]:
# 8. convert all the text of screen size in small letter

df["screen_size"] = df ["screen_size"].str.lower()
df.head()

In [ ]:
# 9. replace "Blue" at the place of other in Base color column

df["base_color"] = df["base_color"].str.replace("Others","blue")
df["base_color"].unique()

In [ ]:
# 10. show the length of the model in a new column

l = []
for i in df.model:
    x = len(i)
    l.append(x)
df["length"] = 1
df.head()